.headline {
    margin-left: 50px;
    font-size:2rem;
}

.line{
    border: 1px solid black;
    margin-top: -25px;
    width: 25%;
    margin-left: 25px;
}

.links{
    margin-top: 20px;
    margin-left:75px;
    font-size: 1.7rem;
}

.link1{
    margin-bottom: 5px;
}

.link2{
    margin-bottom: 5px;
}

.buttons{
    display:flex;
    margin-left: 80px;
    margin-top: 20px;
}

.titlebtn{
    width:80px;
    height:50px;
}

.title{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: orangered;
    border: none;
    font-weight: bold;
}

.author{
    margin-left: 20px;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: green;
    border: none;
    font-weight: bold;
}

.boxes{
    margin-top: 12rem;
}